<section class="main-home">
  <div class="main-text">
    <div class="content">
      <div class="main-text">
        <h1>Naruto</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
          libero accusantium, est dolore eveniet similique possimus repellat
          autem consequatur cum ut odio expedita explicabo itaque ipsam dicta
          excepturi voluptas quidem.
        </p>
        <a routerLink="/shop" style="cursor: pointer;">Shop Now</a>
        <a routerLinl="/shop" style="cursor: pointer;" class="cta"
          ><i class="fa-solid fa-play"></i>Browse our categories</a
        >
      </div>

      <div class="image">
        <img src="/assets/images/games/sage.png" alt="" srcset="" />
      </div>
    </div>
  </div>
</section>

<section class="categories back">
  <div class="center-text">
    <h2>Available Consoles in Store</h2>
  </div>

  <div class="categories-content">
    <div class="box">
      <a href=""><i class="fa-brands fa-playstation"></i></a>
      <p>PlayStation 5</p>
    </div>

    <div class="box">
      <a href=""><i class="fa-brands fa-xbox"></i></a>
      <p>Xbox</p>
    </div>

    <div class="box">
      <a href=""><i class="fa-brands fa-playstation"></i></a>
      <p>PlayStation 4</p>
    </div>

    <div class="box">
      <a href=""><i class="fa-brands fa-xbox"></i></a>
      <p>Xbox360</p>
    </div>
  </div>
</section>

<section class="trending-product back" id="trending">
  <div class="center-text">
    <h2>Games of the <span>Month</span></h2>
  </div>

  <div class="product-container">
    <div class="products">
      <img src="/assets/images/games/naruto.jpg" alt="" />
      <div class="layer">
        <h3>Naruto</h3>
        <p><i class="bx bx-cart-download"></i></p>
      </div>
    </div>

    <div class="products">
      <img src="/assets/images/games/apex.jpg" alt="" />
      <div class="layer">
        <h3>Apex</h3>
        <p><i class="bx bx-cart-download"></i></p>
      </div>
    </div>

    <div class="products">
      <img src="/assets/images/games/callofduty.jpg" alt="" />
      <div class="layer">
        <h3>Call of Duty</h3>
        <p><i class="bx bx-cart-download"></i></p>
      </div>
    </div>

    <div class="products">
      <img src="/assets/images/games/Fifa23.jpg" alt="" />
      <div class="layer">
        <h3>FIFA 23</h3>
        <p><i class="bx bx-cart-download"></i></p>
      </div>
    </div>

    <div class="products">
      <img src="/assets/images/games/GTA.jpg" alt="" />
      <div class="layer">
        <h3>GTA: San Andreas</h3>
        <p><i class="bx bx-cart-download"></i></p>
      </div>
    </div>

    <div class="products">
      <img src="/assets/images/games/NeedForSpeed.png" alt="" />
      <div class="layer">
        <h3>Need For Speed</h3>
        <p><i class="bx bx-cart-download"></i></p>
      </div>
    </div>
  </div>

  <a routerLink="/shop" class="btn">Go to Shop</a>
</section>

<section class="service-class back">
  <div class="center-text">
    <h2>Why shop <span style="color:#e2820dea">with us?</span></h2>
  </div>

  <div class="box-service">
    <div class="card-service">
      <i class="fa-solid fa-phone-volume"></i>
      <h5>Contact Us</h5>
      <div class="details">
        <p>Our customer service is available to attend to your needs 24/7.</p>

        <p style="text-align: center">
          <a class="button-service" href="">Read More</a>
        </p>
      </div>
    </div>

    <div class="card-service">
      <i class="fa-sharp fa-solid fa-truck"></i>
      <h5>Swift delivery</h5>
      <div class="details">
        <p>Delivery is swift and you get your products without haste.</p>

        <p style="text-align: center">
          <a class="button-service" href="">Read More</a>
        </p>
      </div>
    </div>

    <div class="card-service">
      <i class="fa-solid fa-comments-dollar"></i>
      <h5>Affordable</h5>
      <div class="details">
        <p>Our games are affordable and we run promo sales every week</p>

        <p style="text-align: center">
          <a class="button-service" href="">Read More</a>
        </p>
      </div>
    </div>
  </div>


</section>


<section class="contact back">
  <div class="container">
    <div class="contact-row">
      <div class="contact-left">
        <h1 class="sub-title" style="color:black">Customer Care</h1>
        <p><i class="bx bxs-send"></i> gamesbot@mail.com</p>
        <p><i class="bx bxs-phone-call"></i> 023-123-232-11</p>
        <div class="social-icons">
          <a href="#"><i class="bx bxl-linkedin-square"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-facebook-circle"></i></a>
        </div>
      </div>

      <div class="contact-right">
        <form>
          <input type="text" name="Name" placeholder="Your Name" />
          <input type="email" name="email" placeholder="Your Email" />
          <textarea
            name="Message"
            rows="6"
            placeholder="Message/Complaint/Suggestion"
          ></textarea>

          <button type="submit" class="btn btn2">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
