<div class="row pt-5 mt-5" *ngIf="game" style="overflow: hidden;">
    <div class="col-6 ms-4" style="border-radius: 20px;">
        <img src="{{game.pictureUrl}}" alt="{{game.name}}" class="img-fluid w-100">
    </div>

    <div class="col-4">
        <h3>{{game.name}}</h3>
        <p>{{game.price | currency: '₦'}}</p>

        <div class="d-flex justify-content-start align-items-center">
            <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning me-2" style="cursor:pointer; font-size: 2em;"></i>
            <span class="font-weight-bold" style="font-size:1.5em">{{quantity}}</span>
            <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning ms-2" style="cursor:pointer; font-size: 2em;"></i>

            <button (click)="addItemToBasket()" class="btn btn-outline-primary btn-lg ml-4 ms-3">Add to cart</button>
        </div>

        <div class="mt-5">
        <h4>Description</h4>
        <p>{{game.description}}</p>
        </div>


    </div>

</div>

