<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="loginForm" (ngSubmit) = "onSubmit()">
      <h1 class="h3 mb-3 fw-normal text-center">Log in</h1>

      <div class="form-floating">
        <input formControlName = "email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
        <span class="text-danger" *ngIf="loginForm.get('email').invalid &&
          loginForm.get('email').touched
          && loginForm.get('email').errors['email']">

          Email address is required
        </span>

        <span class="text-danger" *ngIf="loginForm.get('email').invalid &&
        loginForm.get('email').touched
        && loginForm.get('email').errors['pattern']">

        Email address is not valid
      </span>
      </div>
      <div class="form-floating mt-3">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
        <span class="text-danger" *ngIf="loginForm.get('email').invalid &&
        loginForm.get('password').touched
        && loginForm.get('password').errors['required']">

        Password is required
      </span>
      </div>


      <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Sign in</button>
    </form>
  </div>
</div>


