<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <h2 routerLink="/" style="cursor:pointer">GAM<span class="text-danger">ES</span></h2>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-uppercase">
        <li><a routerLink="/" class="nav-link px-2" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
          >Home</a></li>
        <li><a routerLink="/shop" class="nav-link px-2" routerLinkActive="active">Shop</a></li>
        <li><a href="#" class="nav-link px-2">Pricing</a></li>
      </ul>

      <div class="d-flex align-items-end col-md-3 text-end">
        <a routerLink="/basket">
            <i class="fa-solid fa-cart-shopping"></i>
            <div *ngIf="(basket$ | async) as basket" class="cart-no">{{basket.items.length}}</div>
        </a>
      </div>

      <div class="d-flex align-items-end col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
    </header>
  </div>
