<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <h2 routerLink="/" style="cursor:pointer">GAM<span class="text-danger">ES</span></h2>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-uppercase">
        <li><a routerLink="/" class="nav-link px-2" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
          >Home</a></li>
        <li><a routerLink="/shop" class="nav-link px-2" routerLinkActive="active">Shop</a></li>
        <li><a href="#" class="nav-link px-2">Pricing</a></li>
      </ul>

      <div class="d-flex align-items-end col-md-3 text-end">
        <a routerLink="/basket">
            <i class="fa-solid fa-cart-shopping"></i>
            <div *ngIf="(basket$ | async) as basket" class="cart-no">{{basket.items.length}}</div>
        </a>
      </div>

      <ng-container *ngIf="(currentUser$ | async) === null">
        <div class="d-flex align-items-end col-md-3 text-end">
          <button routerLink="/account/login" type="button" class="btn btn-outline-primary me-2">Login</button>
          <button routerLink="/account/register" type="button" class="btn btn-primary">Register</button>
        </div>

      </ng-container>

      <ng-container *ngIf="currentUser$ | async">
        <div class="dropdown ms-5 me-3" dropdown>
          <a class="dropdown-toggle" style="cursor:pointer" dropdownToggle>
            <strong>
              Welcome {{(currentUser$ | async).displayName}}
            </strong>

          </a>
          <div class="dropdown-menu dropdown-menu-right" style="cursor:pointer;" *dropdownMenu>
            <a routerLink="/basket" class="dropdown-item d-flex align-items-center pt-2 pb-2">
              <i class="fa fa-shopping-cart me-3"></i> View Basket
            </a>
            <a routerLink="/orders" class="dropdown-item d-flex align-items-center pt-2 pb-2">
              <i class="fa fa-history me-3"></i> View Orders
            </a>
            <div class="dropdown-divider"></div>
            <a (click)="logout()" class="dropdown-item d-flex align-items-center pt-2 pb-2">
              <i class="fa fa-sign-out me-3"></i> Logout
            </a>
          </div>
        </div>

      </ng-container>

    </header>
  </div>
