<div class="card h-75 shadow-sm">
    <img class="img-fluid bg-light h-50" src="{{game.pictureUrl}}" alt="{{game.name}}">
    

    <div class="card-body d-flex flex-column">
        <a href="#">
            <h6 class="text-uppercase">{{game.name}}</h6>
        </a>

        <span class="mb-2">{{game.price | currency: '₦'}}</span>
      
        <div class="btn-group">
          <button type="button" class="btn btn-outline-secondary me-2">
            <i class="fa-solid fa-cart-shopping"></i>
            </button>
          <button type="button" class="btn btn-outline-secondary">View</button>
        </div>
      
    </div>
  </div>
