<!-- <div class="card h-75 shadow-sm">
    <img class="img-fluid bg-light h-50" src="{{game.pictureUrl}}" alt="{{game.name}}">


    <div class="card-body d-flex flex-column">
        <a routerLink="/shop/{{game.id}}">
            <h6 class="text-uppercase">{{game.name}}</h6>
        </a>

        <span class="mb-2">{{game.price | currency: '₦'}}</span>

        <div class="btn-group">
          <button (click)="addItemToBasket()" type="button" class="btn btn-outline-secondary me-2">
            <i class="fa-solid fa-cart-shopping"></i>
            </button>
          <button routerLink="/shop/{{game.id}}" type="button" class="btn btn-outline-secondary">View</button>
        </div>

    </div>
  </div> -->

  <div class="products">
    <img src="{{game.pictureUrl}}" alt="{{game.name}}">
    <div class="layer">
        <h3>{{game.name}}</h3>
        <p class="add-to-cart">
            <i (click)= "addItemToBasket()" class='bx bx-cart-download' style="cursor:pointer"></i>
            <i (click)="addItemToWishlist()" class="fa-regular fa-heart" style="cursor:pointer"></i>
            <i class="fa-regular fa-eye" routerLink="/shop/{{game.id}}" style="cursor:pointer"></i>

        </p>
        <p>{{game.price | currency: '₦'}}</p>


    </div>

</div>
